NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5175

POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_segura
POSTGRES_DB=libreria_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres.nyssoyhaaqmeszcnbpgo:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres.nyssoyhaaqmeszcnbpgo:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

JWT_SECRET=tu_secret_key_segura
JWT_EXPIRES_IN="2h"