header {
    background-size: cover;
    background-color: rgb(15, 29, 38);
    color: rgb(106, 135, 164);
    padding: 20px 0;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo h1 {
    margin-left: 10px;
}